*{
	margin: 0;

	padding: 0;
}
*, body, input, textarea, select, div {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
h1, p{
	margin: 0;
}
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.9); 
}
.main_container {
	transition: background 0.5s ease;
	position: fixed;
	height: 100vh;
	background: url('../media/calendario2.jpg');
	background-size: cover;

}

.logo {
	z-index: +3;
	pointer-events: none;
	/*position: absolute;*/
}

.flip_card_container {
	margin: 0;
	width: 20%;
	height: 40vh;
	text-align: center;
	transition: transform .40s; /* Animation */
	border: 2px solid #278789;
	background-color: #278789;
}
.flip_card_sub_container{
	position: relative;
	width: 100%;
	height: 100%;

	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip_card_container:hover .flip_card_sub_container {
	transform: rotateY(180deg);
}
.flip_card_front, .flip_card_back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.flip_card_front {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: #bbb;
	color: black;
	z-index: 2;
	background-size: cover; 
}
.flip_card_back {
	/*background-color: rgb(226, 87, 6);*/

	color: white;
	transform: rotateY(180deg);
	z-index: +3;
}
.flip_card_back div{
	background-color: rgba(0,0,0,0.5);
}
.main_section_header{
	position: fixed;
	height: 35px;
	background: #191919;
	color: #f49a7c;
	width: 100%;
	display: flex;
	height: 70px;
	justify-content: right;
	font-weight: bold;
	padding: 0.5em;
	align-items: center;
	font-size: 3em;
	color: 	#f49a7c;
	z-index: +2;
	transition-delay: 0s;
}

.main_section_subContainer{
	padding: 10%;
	z-index: +3;
	transition: 0.5s;
}

.main_section_title{
	margin-top: 10%;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	font-size: 30pt;
	color: white;
}

.main_section_paragraph{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
}

.card_section_container {
	background: rgba(0, 0, 0, 0.5);
	margin-top: 100vh;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 2;
}

.card_row {
	display: flex;
	justify-content: space-between;
	padding: 0%;
	margin: 0%;
	width: 100%;
}

.card_title {
	font-size: 1.3em;
	font-weight: bold;
}

.flip_card_sub_container img{
	width: 100%;
	height: 30px;
}
.card_front_title{
	color: #e7e1d7;
	font-size: 2em;
	background-color: rgba(0,0,0,0.6);
	font-weight: bold;
}


.card_front_paragraph{
	color: #e7e1d7;
	font-size: 1em;
	background-color: rgba(0,0,0,0.4);
	font-style: italic;
	padding: 15px;
}
.card_section_header{
	padding: 10px;
	height: 50px;
	background-color: #278789;
	border: 0px solid rgb(39,135,137);
	border-bottom: 0;
}
h2{
	text-align: center;
	font-size: 25pt;
	color:white;
}
.main_section_header{

}
.card_back_title {
	font-size: 1.8em;
	font-weight: bold;

}
.card_back_description {
	background-color: rgba(0,0,0,0.5);
	padding: 15px;

}

.flip_card_container:hover{
	z-index: 3;
	transform: scale(1.2);
	overflow-x: scroll;
}


/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
